<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body id="landing">

    <div class="flexContainer">

      <div class="logo" id="deadDropLogo">
        <h1 class="logo">DEAD DROP</h1>
      </div>


      {% if logout %}
        {% for message in logout %}
        <div class="logoutMessage">
          <h1 class="logo">{{ message.value }}</h1>
        </div>
        {% endfor %}
      {% endif %}

      <div class="box" id="loginForm">
        {% if messages %}
          {% for message in messages %}
          <div class="alert alert-{{ message.status }}">
          {{ message.value }}
          </div>
          {% endfor %}
        {% endif %}
        <h1 align="center">{{ title }}</h1>
        <form action="/login" method="post" class="login">
          <input type="text" name="email" placeholder="Username">
          <br><br>
          <input type="password" name="password" placeholder="Password">
          <br><br>
          <div class="login">
            <input type="submit" value="Submit" class="btn btn-primary login">
          </div>
        </form>
        <br><br>
        <p>Don't have an account? Sign up <a href="/register">here!</a></p>
      </div>

    </div>

  <script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/js/landing.js"></script>
  </body>
</html>
