{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}
    <div class="container">

      <h1>{{ title }}</h1>

      <div class="row">
        <form action="/login" method="post">
          Username:
          <input type="text" name="email" placeholder="Username">
          <br><br>
          Password:
          <input type="password" name="password" placeholder="Password">
          <br><br>
          <input type="submit" value="Submit">
        </form>
        <br><br>
        <p>Don't have an account? Sign up <a href="/register">here!</a></p>
      </div>

    </div>

{% endblock %}
