{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

  <div class="container">

    <h1>{{ title }}</h1>
    <div id="map" class="row">
    </div>
    <br>
    <form action="pins/newpin" method="POST">
      <div class="form-group">
        <label for="pin_title">Title</label>
        <input type="text" class="form-control" id="pin_title" placeholder="Title" name="pin_title" required>
      </div>
      <div class="form-group">
        <label for="pin_description">Description</label>
        <textarea type="text" class="form-control" id="pin_description" placeholder="Description" name="pin_description"></textarea>
      </div>
      <div class="form-group">
      <input id="latitude" type="hidden" name="latitude" value="">
      </div>
      <div class="form-group">
        <input id="longitude" type="hidden" name="longitude" value="">
      </div>
      <div class="form-group">
        <label for="exampleInputFile" class="customUpload">
          <input type="file" id="exampleInputFile">
          Upload Image
        </label>
      </div>
      <a href="/home"><button type="button" class="btn btn-danger">Cancel</button>
      <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  </div>
  <script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js"></script>
  <script type="text/javascript" src="/js/newPin.js"></script>

{% endblock %}
