{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

  <div class="container">

    <h1>{{ title }}</h1>
    <p>Welcome to {{ title }}</p>
    <div id="map" class="row">
    </div>
    <br>
    <form action="/pins/pickup" method="POST">
      <div class="form-group">
        <label for="receiver_message">Message</label>
        <textarea type="text" class="form-control" id="receiver_message" placeholder="Message" name="receiver_message"></textarea>
      </div>
      <div class="form-group">
        <input id="pind_id" type="hidden" name="pin_id" value="{{pin_id}}">
      </div>
      <div class="form-group">
        <label for="exampleInputFile">Upload Image</label>
        <input type="file" id="exampleInputFile">
      </div>
      <a href="/home"><button type="button" class="btn btn-default">Cancel</button>
      <button type="submit" class="btn btn-default">Pick up!</button>
  </form>
  </div>
  <script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js"></script>
  <script type="text/javascript" src="/js/pickup.js"></script>
  <script> getPin({{pin_id}}) </script>

{% endblock %}