body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#map {
  height: 700px;
}

/*Start removing google logo, terms and conditions*/
a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
  display:none;
}
.gmnoprint div {
  background:none !important;
}
/*End removing google logo etc.*/
#landing {
  background-image: url("../images/landing.png");
  background-size: cover;
  height: 100%;
  width: 100%;
}

.login {
  text-align: center;
}

.flexContainer {
  display: flex;
  height: 100vh;
}

.logo {
  margin: auto;
  font-family: 'Impact';
  font-size: 250px;
  text-align: center;
}

.imgWrapper {
  height: 150px;
  width: 150px;
  margin: 30px auto;
}

.logoImg {
  width: 100%;
}

.box {
  margin: auto;
  background-color: white;
  border-radius: 10px;
  padding: 5px 15px;
  box-shadow: 10px 10px 5px grey;
}